{% extends "layouts/000CJF_base.html" %}

{% block title %} State of Business {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">

{% endblock stylesheets %}


{% block content %}
<!DOCTYPE html>
<body>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">State of Business</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ Morris Chart ] start -->
                                       <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Total Monthly Donations</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-bar-chart1" style="height:300px"></div>
                            </div>
                        </div>
                    </div>



                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Average Monthly Donation</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-bar-chart2" style="height:300px"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Number of Donations</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-line-chart3" style="height:300px"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Donations Occurences</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-bar-chart4" style="height:300px"></div>
                            </div>
                        </div>
                    </div>

                    <!-- [ Morris Chart ] end -->



                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
</body>

{{graph1|json_script:"graph1"}}
{{graph2|json_script:"graph2"}}
{{graph3|json_script:"graph3"}}
{{graph4|json_script:"graph4"}}



</html>


<script>
     var graph1 = JSON.parse(document.getElementById('graph1').textContent);
     var graph2 = JSON.parse(document.getElementById('graph2').textContent);
     var graph3 = JSON.parse(document.getElementById('graph3').textContent);
     var graph4 = JSON.parse(document.getElementById('graph4').textContent);
</script>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
    <script src="/static/assets/js/pages/000CJF_chart-morris-custom.js"></script>

{% endblock javascripts %}
